.indexPage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #1E1E1E;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

ul.index__ul {
    margin: 0;
    /*padding: 0;*/
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

span {
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
