* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    font-family: Inter, sans-serif;
    font-style: normal;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Inter;
    src: url("../static/fonts/AnyConv.com__Inter-Medium.woff") format("woff");
}

